<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <div>
  <ion-item  color="primary">
    <ion-label position="floating">Username</ion-label>
    <ion-input  [(ngModel)]="user"></ion-input>
  </ion-item>
  <ion-item  color="primary">
    <ion-label position="floating" >Password</ion-label>
    <ion-input [(ngModel)]="pass" type="Password"  ></ion-input>
  </ion-item>
</div>

<ion-button expand="full" color="secondary" (click)="toTab()">Login</ion-button>
<p>Not a member? Register</p>
</ion-content>
