ion-item{
  --background:none;
  background-color:transparent;
border-color: transparent;
}

div{
  background-color: #ffffff;
  padding: 10px;
  width: 95%;
  margin-bottom: 10px;
  margin-left: 8px;
}


.sc-ion-label-md-s p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 14px;
   line-height: 10px; 
  text-overflow: inherit;
  overflow: inherit;}

  